<!-- Top Header -->

{% if messages %}
    {% for message in messages %}
        <script>console.log({{ message.tags }})</script>
        <div class="modal-container" data-message="{{ message }}" data-type="{{ message.tags }}">
            <div class="modal-item">
                <span>{{ message }}</span>
                <button class="modal-close">&times;</button>
            </div>
        </div>
    {% endfor %}
{% endif %}
<div class="top-header" dir="rtl">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="phone-number">
                    <i class="fa fa-phone"></i>
                    <span>۰۲۱-۳۳۲۵۶۷۸</span>
                    <span class="me-3">منتظر نظرات شما هستیم</span>
                </div>
            </div>
            <div class="col-md-6 text-start">
                <span class="me-3">رزرواسیون هتل ها</span>
            </div>
        </div>
    </div>
</div>

<!-- Main Header -->
<header class="main-header" dir="rtl">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="d-flex align-items-center">
                <a href="
                        {% if not request.user.is_authenticated %}{% url "accounts:signin-signup" %}{% else %}#{% endif %}">
                    <div class="user-account me-3">
                        <i class="fa fa-user"></i>
                    </div>
                </a>

            </div>
            <div class="profile-content">
                <ul class="profile-content__ul">
                    <div class="profile-content__li">
                        <a href="{% url "accounts:user_profile" %}" style="color: #000000">
                            <li>پروفایل</li>
                        </a>
                    </div>
                    <div class="profile-content__li">
                        <li>تاریخچه رزرو</li>
                    </div>
                    <span style="opacity: 0.2">__________________</span>
                    <div class="profile-content__li logout">
                        <a href="{% url 'accounts:logout' %}" style="color: #000000">
                            <li>خروج</li>
                        </a>
                    </div>
                </ul>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}"
                           href="{% url 'hotels:home' %}">
                            <i class="fa fa-home me-2"></i>
                            صفحه اصلی
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == "rooms_list" %}active{% endif %}"
                           href="{% url 'hotels:rooms_list' %}">
                            <i class="fa fa-bed me-2"></i>
                            اتاق ها
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="index.html#services">
                            <i class="fa fa-book me-2"></i>
                            درباره ما
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#services">
                            <i class="fa fa-phone me-2"></i>
                            تماس با ما
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="index.html#services">
                            <i class="fa fa-star"></i>
                            خدمات
                        </a>
                    </li>
                    <li class="nav-item" style="margin-left: 1rem;">
                        <a class="nav-link" href="index.html#reviews">
                            <i class="fa fa-comments me-2"></i>
                            نظرات کاربران
                        </a>
                    </li>


                </ul>
            </div>

            <div class="logo">
                <div class="logo-text">هتل</div>
                <div class="logo-icon">
                    <i class="fa fa-building"></i>
                </div>
            </div>
        </nav>
    </div>
</header>

<script>
    const accountIcon = document.querySelector(".user-account");
    const profileContent = document.querySelector(".profile-content");
    let profileContentFlag = false;

    {% if not request.user.is_authenticated %}
        accountIcon.addEventListener("mouseenter", () => {
            accountIcon.className = "user-account user-out me-3";
            accountIcon.innerHTML = "";
            accountIcon.innerHTML = "<div class='signup-text'><p>ثبت نام / ورود</p></div>";
        });

        accountIcon.addEventListener("mouseleave", () => {
            accountIcon.className = "user-account me-3";
            accountIcon.innerHTML = "";
            accountIcon.innerHTML = '<i class="fa fa-user"></i>';
        });
    {% else %}
        accountIcon.addEventListener("click", (event) => {
            event.preventDefault(); // جلوگیری از رفتار پیش‌فرض لینک
            if (profileContentFlag) {
                profileContent.classList.remove("user-login");
                profileContentFlag = false;
            } else {
                profileContent.classList.add("user-login");
                profileContentFlag = true;
            }
        });


        document.addEventListener("click", (event) => {
            if (!accountIcon.contains(event.target) && !profileContent.contains(event.target)) {
                profileContent.classList.remove("user-login");
                profileContentFlag = false;
            }
        });
    {% endif %}
    document.addEventListener('DOMContentLoaded', function () {
        const modals = document.querySelectorAll('.modal-container');
        modals.forEach(modal => {
            // اعمال کلاس بر اساس نوع پیام (tags)
            const messageType = modal.getAttribute('data-type');
            if (messageType) {
                modal.classList.add(messageType);
            }

            // انیمیشن ورود به‌صورت خودکار اجرا می‌شود (از طریق CSS)

            // حذف مدال پس از 3 ثانیه
            setTimeout(() => {
                modal.style.opacity = '0';
                setTimeout(() => {
                    modal.remove();
                }, 300);
            }, 5000);

            // بستن مدال با کلیک روی دکمه
            const closeButton = modal.querySelector('.modal-close');
            if (closeButton) {
                closeButton.addEventListener('click', () => {
                    modal.style.opacity = '0';
                    setTimeout(() => {
                        modal.remove();
                    }, 300);
                });
            }
        });
    });
</script>